bftp/bftptest
bftp/fromremote.jpg
bhttp/bhttp
bhttp/media/
bhttp/.obj*
bupnp/bdlnaserver
bupnp/dlna*
bupnp/test/
bupnp/media/
bmtp/.obj*
bmtp/bmtpipserver
bmtp/store
bjson/bjsontest
bmem/bmemtest
bmqtt/mqtt
bmqtt/.obj*
bmdns/mdnsr
bosal/bosaltest
bsasl/bsasltest
bstreamio/bstreamiotest
butil/butiltest
bxml/bxmltest
bxmpp/bxmpp
bsnmp/bsnmp
bsnmp/bmibc/bmibc
bsnmp/bmibc/crap.*
bsmtp/bsmtptest
bsip/bsip
bsip/.obj*
bipp/bipp
bipp/printout
bipp/ianaimport/bianaimp
bipp/.obj*
bgcloudprt/bgcpnv.json
bgcloudprt/bgcp
bgcloudprt/.obj*
bimageio/bimg
bimageio/.obj*
bimageio/test/
bmediatree/bmediatest

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Editor backups
*.bak
*.bpf
